.cadastro-cota {
    max-width: 800px;
    padding: 40px;
    margin: 30px auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.cadastro-cota h2 {
    color: #007ab7;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cadastro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.cota-info,
.cadastro-form {
    width: 100%;
    max-width: 350px;
    text-align: left;
}

.cota-info label,
.cadastro-form label {
    font-weight: 500;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.cota-info input,
.cadastro-form input,
.cadastro-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

.cota-info input[readonly] {
    background-color: #f1f1f1;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
    width: 100%;
}

.reservar-button,
.cancelar-button{
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.voltar-button {
    padding: 10px 15px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservar-button {
    background-color: #007ab7;
    color: white;
}

.cancelar-button {
    background-color: #e74c3c;
    color: white;
}

.voltar-button {
    background-color: #ccc;
    color: #333;
}

.reservar-button:hover {
    background-color: #005f8a;
}

.cancelar-button:hover {
    background-color: #c0392b;
}

.voltar-button:hover {
    background-color: #aaa;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.reserva-concluida {
    background-color: #e6f7e6;
    border: 1px solid #a5d6a7;
    color: #2e7d32;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.reserva-concluida-icon {
    font-size: 24px;
    color: #2e7d32;
}
