@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Reset and Base Styles */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
  color: #333;
}

/* Logo Image */
.logo-image {
  width: 130px;
  position: absolute;
  object-fit: contain;
  z-index: 1;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #f7f7f7;
  color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 120px;
  margin-right: auto;
}

.search-bar {
  width: 200px; /* Defina a largura desejada */
  margin-left: 900px; /* Remova o espaço à esquerda */
  padding: 10px;
  border-radius: 12px;
  border: none;
  text-align: center;
}

/* Button */
.btn, .my-cotas-button {
  font-family: 'Poppins', sans-serif;
  background-color: #007ab7;
  border-radius: 12px;
  font-weight: bold;
  font-size: 14px;
  color: #f7f7f7;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  display: block;
  padding: 10px 15px;
  border: none;
}

/* Button */
.cotas {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    color: #004a6f;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
  }
  
  .cotas:hover {
    background-color: #adadad;
  }

.btn:hover, .my-cotas-button:hover {
  background-color: #9b9900;
}

/* Home Page */
.home-page {
  background-color: #f7f7f7;
}

/* Blocos */
.blocos {
  max-width: 1000px;
  padding: 50px;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
}

/* Card */
.carousel-card {
    text-align: center;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
    position: relative;

}
  
  .carousel-image-wrapper {
    position: relative;
    cursor: pointer;
  }

  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
  }
  
  @keyframes fadeInAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .carousel-impact {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 96, 175, 0.6);
    color: #f7f7f7;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
}

.carousel-impact2 {
    
    text-align: center;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 96, 175, 0.6);
    color: #f7f7f7;
    font-size: 1em; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .texto-consorcios {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5em; /* Ajuste o tamanho do título conforme necessário */
    margin-bottom: 10px; /* Espaçamento entre o texto e o botão */
  }

  .carousel-nav {
    background-color: #007ab7;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    color: #f7f7f7;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave no transform */
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .carousel-nav.prev {
    left: 150px;
  }
  
  .carousel-nav.next {
    right: 150px;
  }
  
  .carousel-nav:hover {
    background-color: #9b9900; /* Muda a cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do botão ao passar o mouse */
  }
  
  .carousel-nav:active {
    background-color: #6d7500; /* Cor de fundo quando o botão é pressionado */
  }
  
.featured-consorcios {
    padding: 100px 40px;
    background-color: #f7f7f7;
    position: relative;
  }
  
  .featured-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }
  
  /* Card */
  .featured-card {
    text-align: center;
    position: relative;
    width: 600%;
    max-width: 1100px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
  }
  
  .carousel-image-wrapper {
    position: relative;

  }
  
  .featured-image {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    border-radius: 50px;
  }
  
  .carousel-impact button {
    background-color: #007ab7;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    color: #f7f7f7;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    padding: 10px 15px;
    border: none;
  }
  
  .carousel-impact button:hover {
    background-color: #9b9900;
  }
  
  /* Efeito escurecimento da imagem */
  .carousel-impact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
.card-title, .carousel-phrase, .my-4, .display-3, .consorcio-titulo, .consorcio-quantidades {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #007ab7;
  font-weight: bold;
}

.card-title {
  padding: 8px;
  font-size: 20px;
}

.my-4 {
  font-size: 26px;
  color: rgb(39, 39, 39);
}

.display-3 {
  font-size: 36px;
}

.consorcio-titulo {
  margin-top: 5px;
  font-size: 18px;
}

.consorcio-quantidades {
  font-size: 18px;
  color: rgb(0, 159, 48);
}

/* Consorcio Images */


.carousel-image {
    width: 100%;
    max-height: 180px;
    margin: 0 auto 10px;
    object-fit: cover;
    display: block;
  }
  
  .carousel-section {
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça a imagem à esquerda e o texto à direita */
    align-items: center; /* Alinha verticalmente no centro */
    padding: 20px; /* Espaçamento interno */
  }
  
  .carousel-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
  }
  
  .Pessoa {
    width: 30%; 
    height: auto; 
  }
  
  .carousel-phrase {
    font-size: 54px;
    color: #414141;
    margin-left: 20px; 
    text-align: justify;
  }
  
  .highlighted-text {
    color: #007ab7; 
    text-align: justify;
  }


/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
  color: #007ab7;
  font-size: 14px;
}

